node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# SQLite
*.db
/.idea/dataSources/5693c585-2c57-4abc-8eab-07d4754987ad.xml
/.idea/dataSources/5693c585-2c57-4abc-8eab-07d4754987ad/storage_v2/_src_/schema/main.uQUzAA.meta
